<?xml version='1.0' encoding='utf-8'?>
<widget id="com.biggroup.Salesforce" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Salesforce</name>
  <description>
      Driving sales transformation with BT and Salesforce.
  </description>
  <author email=“joanne.hood@biggroup.co.uk” href=“www.biggroup.co.uk”>
      Joanne Hood
  </author>
  <content src="index.html" />
</widget>